<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/paymentmethod.css}" />
</head>
<body>

<div>
    <a th:href="@{/}">Starbucks</a>
  </div>
  
<h2>Back Office Help Desk</h2>
  

    <div>
      <form name="form" th:object="${backOffice}" method="post">     
        <div class="row">
          <div class="col-50">

            <div th:if="${not#lists.isEmpty(messages)}">
          <div class="messages">
            <ul th:each="m : ${messages}">
                  <li th:text="${m.msg}">
            </ul>
          </div>
          </div>

          </div> 
        </div>
        
        <label for="fname">New Total Reward Points:</label><br>
        <input type="text" id="balanceText" required="required" name="balanceText" th:field="*{balanceText}" >    
        
        <input type="submit" value="Update Rewards" class="btn">          
                    
    </form>
    </div>

</body>
</html>