<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/store.js" th:src="@{/js/store.js}" ></script>
</head>
<body>
    <h1>Welcome to Starbucks Reserved!</h1>
    <div id="main">
        <div class="column">
            <form action="#" id="order-form" method="post" th:object="${order}" class="mt-5" >
                <div class="form-group">
                    <label>Drinks</label>
                    <!-- <div th:each="model : ${T(com.example.springcashier.DrinkModel).values()}">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" th:field="*{drinkModel}" th:value="${model}" class="custom-control-input">
                            <label class="custom-control-label" th:for="${#ids.prev('drinkModel')}" th:text="${model}">model</label>
                        </div>
                    </div> -->
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Caramel Macchiato" name="selection" class="custom-control-input" value="Caramel Macchiato" th:field="*{drink}">
                        <label class="custom-control-label" for="Caramel Macchiato">Caramel Macchiato</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Iced Chai" name="selection" class="custom-control-input" value="Iced Chai" th:field="*{drink}">
                        <label class="custom-control-label" for="Iced Chai">Iced Chai</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="White Chocolate Mocha" name="selection" class="custom-control-input" value="White Chocolate Mocha" th:field="*{drink}">
                        <label class="custom-control-label" for="White Chocolate Mocha">White Chocolate Mocha</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Iced Coffee" name="selection" class="custom-control-input" value="Iced Coffee" th:field="*{drink}">
                        <label class="custom-control-label" for="Iced Coffee">Iced Coffee</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Milk</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Whole" name="selection" class="custom-control-input" value="Whole" th:field="*{milk}">
                        <label class="custom-control-label" for="Whole">Whole</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Skim" name="selection" class="custom-control-input" value="Skim" th:field="*{milk}">
                        <label class="custom-control-label" for="Skim">Skim</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Oat" name="selection" class="custom-control-input" value="Oat" th:field="*{milk}">
                        <label class="custom-control-label" for="Oat">Oat (+$0.50)</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Almond" name="selection" class="custom-control-input" value="Almond" th:field="*{milk}">
                        <label class="custom-control-label" for="Almond">Almond (+$0.50)</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Size</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Short" name="selection" class="custom-control-input" value="Short" th:field="*{size}">
                        <label class="custom-control-label" for="Short">Short</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Tall" name="selection" class="custom-control-input" value="Tall" th:field="*{size}">
                        <label class="custom-control-label" for="Tall">Tall (+$0.50)</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Grande" name="selection" class="custom-control-input" value="Grande" th:field="*{size}">
                        <label class="custom-control-label" for="Grande">Grande (+$1.00)</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="Venti" name="selection" class="custom-control-input" value="Venti" th:field="*{size}">
                        <label class="custom-control-label" for="Venti">Venti (+$1.50)</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="customerid">Customer ID:</label>
                    <input type="text" id="customer" name="customer" th:field="*{customer}"><br><br>
                </div>
            </form>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css}"/>

        <title>Main Page</title>
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body> -->
        <div class="container">
            <h1>Welcome to Starbucks Reserved!</h1>
            <input class ="input" type="text"/>
            <div class="dropdown">
                <button class="btn~ btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Select Store
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><a href="#">Dublin, CA</a></li>
                <li><a href="#">San Jose, CA</a></li>
                <li><a href="#">Santa Monica, CA</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-dark" onclick="clearSelection()">Clear Selection</button>
            <button type="submit" form="order-form" class="btn btn-dark">Place Order</button>
              </div>
              <img th:src="@{/images/starbucksLogo.jpg}">
              <!-- <img src="/backend/spring-cashier/src/main/java/com/example/springcashier/"> -->

            <button type="button" class="btn btn-dark">Get Order</button>
            <button type="button" class="btn btn-dark">Place Order</button>
            <button type="button" class="btn btn-dark">Clear Order</button>
            <button type="button" class="btn btn-dark"><a th:href="@{/cards}">Cards Page</a></button>
            <button type="button" class="btn btn-dark"><a th:href="@{/paymentmethod}">Payments Page</a></button>
            <button type="button" class="btn btn-dark"><a th:href="@{/billinginfo}">Billing Info</a></button>
            <div sec:authorize="isAuthenticated()">
                <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out" />
                </form>
            </div>
        </div>
    </div>
    <div class="column">
        <div id="order">
            <span th:text="${order}"></span>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html> 