<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/paymentmethod.css}" />
</head>
<body>

<h2>Checkout</h2>

<!-- <div class="col-25">
    <div class="container"> -->
    <div>
      <h3>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h3>
      <p><a href="#">Product 1</a> <span class="price">$15</span></p>
      <p><a href="#">Product 2</a> <span class="price">$5</span></p>
      <p><a href="#">Product 3</a> <span class="price">$8</span></p>
      <p><a href="#">Product 4</a> <span class="price">$2</span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
    </div>
<!-- </div> -->

<!-- <div class="row">
  <div class="col-75">
    <div class="container"> -->
    <div>
      <form name="form" action="#" th:action="@{/paymentmethod}" th:object="${command}" method="post">     
        <div class="row">
          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>

            <h4>Name</h4>
            <label class="required" for="firstname">First Name</label>
            <input type="text" id="fname" name="firstname" required="required"  th:field="*{firstname}" />
            <label class="required" for="lastname">Last Name</label>
            <input type="text" id="lname" name="lastname" required="required"  th:field="*{lastname}" />

            <h4>Billing Address</h4>            
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street"  th:field="*{address}">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="New York"  th:field="*{city}">
            <div class="row">
                <div class="col-50">
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" placeholder="NY"  th:field="*{state}">
                </div>
                <div class="col-50">
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip" placeholder="10001"  th:field="*{zip}">
                </div>
            </div>

            <h4>Contact Info</h4>
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" name="phonenumber" placeholder="(408) 123-0456"  th:field="*{phone}">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com"  th:field="*{email}">

            <h4>Card Info</h4>
            <label class="required" for="ccnum">Card Number</label>
            <input type="text" id="ccnum" required="required" name="cardnumber"  th:field="*{cardnum}" >
            <label class="required" for="cvv">CVV</label>
            <input type="text" id="cvv" required="required" name="cvv"  th:field="*{cardcvv}" >
            <div class="row"> 
              <div class="col-50">
                <label class="required" for="expmonth">Exp Month</label>
                <input type="text" id="expmonth" required="required" name="expmonth"  th:field="*{cardexpmon}" >
              </div>
              <div class="col-50">
                <label class="required" for="expyear">Exp Year</label>
                <input type="text" id="expyear" required="required" name="expyear"  th:field="*{cardexpyear}" >
              </div>
            </div>
          </div> 
        </div>
        
        <input type="submit" value="Continue to checkout" class="btn">
        <div th:if="${not#lists.isEmpty(messages)}">
          <div class="messages">
            <ul th:each="m : ${messages}">
              <li th:text="${m.msg}">
            </ul>
          </div>
        </div>  
      </form>
    </div>
  <!-- </div>
</div> -->



</body>
</html>
