<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/paymentmethod.css}" />
</head>
<body>

<h2>Add User Info</h2>
    <div>
      <form name="form" method="post">     
        <div class="row">
          <div class="col-50">


            <h4>Billing Address</h4>            
            

            <h4>Contact Info</h4>


            <div th:if="${not#lists.isEmpty(messages)}">
              <div class="messages">
                <ul th:each="m : ${messages}">
                  <li th:text="${m.msg}">
                </ul>
              </div>
            </div>

            <div class="message">
            <span th:text="${message}" />
            </div>

          </div> 
        </div>

        <form th:action="@{/card}" method="post" th:object="${StarbucksCard}"></form>
          <input type="text" th:field="*{amountToAdd}"/>    
          <input type="submit" value="Submit"/>
      
      </form>
    </div>

</body>
</html>
