<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{/css/starbucksmenu.css}">

</head>
<body>
<nav><a th:href="@{/index}">Starbucks</a></nav>

<h1>Drinks Menu</h1>
<div class="drinks">
    <hr size="2" width="100%" color="black"><br> 
        <div class="Caramel_Machiato">
            <h2>Caramel Machiato</h2>
            <img th:src="@{/images/starbucks.png}">

            <img th:src="@{/images/caramel.webp}" alt="Caramel Machiato" style="widows: 240px;height: 240px;"><br>
            <input type="checkbox" id="caramelMachiato" name="caramelMachiato" value="caramelMachiato" field="*{caramelMachiato}">
            <label for="caramelMachiato"> Caramel Machiato</label><br>
        </div>
        <div class="Iced_Chai_Latte">
            <h2>Iced Chai Tea Latte</h2>
            <img th:src="@{/images/icedchai.webp}" alt="icedChai" style="widows: 240px;height: 240px;"><br>
            <input type="checkbox" id="icedChai" name="icedChai" value="icedChai" field="*{icedChai}">
            <label for="icedChai"> Iced Chai Tea Latte</label><br>
        </div>
        <div class="White_Chocolate_Mocha">
            <h2>White Chocolate Mocha</h2>
            <img th:src="@{/images/whitemocha.webp}" alt="White Chocolate Mocha" style="widows: 240px;height: 240px;"><br>
            <input type="checkbox" id="whiteMocha" name="whiteMocha" value="whiteMocha" field="*{whiteMocha}">
            <label for="whiteMocha"> White Chocolate Mocha</label><br>
        </div>
        <div class="Iced_Coffee">
            <h2>Iced Coffee</h2>
            <img th:src="@{/images/icedcoffee.webp}" alt="Iced Coffee" style="widows: 240px;height: 240px;"><br>
            <input type="checkbox" id="icedCoffee" name="icedCoffee" value="icedCoffee" field="*{icedCoffee}">
            <label for="icedCoffee"> Iced Coffee</label><br><br>
        </div>
    <h2>Additional Options</h2>
    <label for="milk"> Milk</label>
    <input type="checkbox" id="milk" name="milk" value="milk">
    <br><br>
    <div class="sizeDropdown">
        <label for="size">Size:</label>
        <select name="size" id="size">
            <option value ="Short">Short</option>
            <option value ="Tall">Tall</option>
            <option value ="Grande">Grande</option>
            <option value ="Venti">Venti</option>
        </select>
    </div><br><br>
    <input type="submit" value="Submit">

</div>
</div>
</body>
</html>