<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" th:href="@{/css/starbucksmenu.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">

</head>
<body>
    <div class="topnav">
        <a th:href="@{/}"><img class="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1200px-Starbucks_Corporation_Logo_2011.svg.png" alt="logo"></a>
        <a th:href="@{/starbucksmenu}">MENU</a>
        <div class="login-container">
            <a th:href="@{/signIn}">LOGIN</a>
            <a th:href="@{/joinNow}">SIGN UP</a>
        </div>
    </div>

<h1>Drinks Menu</h1>
<div class="drinks">
    <hr size="2" width="100%" color="black"><br> 
        <div class="Caramel_Machiato">
            <h2>Caramel Machiato</h2>
            
            <img th:src="@{/images/caramel.webp}" alt="Caramel Machiato" style="widows: 240px;height: 240px;"><br>
            
        </div>
        <div class="Iced_Chai_Latte">
            <h2>Iced Chai Tea Latte</h2>
            <img th:src="@{/images/icedchai.webp}" alt="icedChai" style="widows: 240px;height: 240px;"><br>
        
        </div>
        <div class="White_Chocolate_Mocha">
            <h2>White Chocolate Mocha</h2>
            <img th:src="@{/images/whitemocha.webp}" alt="White Chocolate Mocha" style="widows: 240px;height: 240px;"><br>
            
        </div>
        <div class="Iced_Coffee">
            <h2>Iced Coffee</h2>
            <img th:src="@{/images/icedcoffee.webp}" alt="Iced Coffee" style="widows: 240px;height: 240px;"><br>
        
        </div>
    <h2>Additional Options</h2>

    <br><br>
    <div class="sizeDropdown">
        <label for="size">Size Options:</label>
        <select name="size" id="size">
            <option value ="Short">Short</option>
            <option value ="Tall">Tall</option>
            <option value ="Grande">Grande</option>
            <option value ="Venti">Venti</option>
        </select>
    </div><br><br>


</div>
</div>
</body>
</html>