<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<h2>Add Payment Method</h2>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form name="form" th:object="${command}" method="post">
      
        <div class="row">
          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label class="required" for="firstname">First Name</label>
            <input type="text" id="fname" name="firstname" required="required"  th:field="*{firstname}" />
            <label class="required" for="lastname">Last Name</label>
            <input type="text" id="lname" name="lastname" required="required"  th:field="*{lastname}" />
            <label class="required" for="ccnum">Card Number</label>
            <input type="text" id="ccnum" required="required" name="cardnumber"  th:field="*{cardnum}" >
            <label class="required" for="cvv">CVV</label>
            <input type="text" id="cvv" required="required" name="cvv"  th:field="*{cardcvv}" >
            <div class="row"> 
              <div class="col-50">
                <label class="required" for="expmonth">Exp Month</label>
                <input type="text" id="expmonth" required="required" name="expmonth"  th:field="*{cardexpmon}" >
              </div>
              <div class="col-50">
                <label class="required" for="expyear">Exp Year</label>
                <input type="text" id="expyear" required="required" name="expyear"  th:field="*{cardexpyear}" >
              </div>
            </div>
          </div> 
        </div>
        <input type="submit" value="Continue to checkout" class="btn">
      </form>
    </div>
  </div>

  <div th:if="${not#lists.isEmpty(messages)}">
          <div class="messages">
            <ul th:each="m : ${messages}">
                  <li th:text="${m.msg}">
            </ul>
          </div>
          </div>
  

  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
      <p><a href="#">Product 1</a> <span class="price">$15</span></p>
      <p><a href="#">Product 2</a> <span class="price">$5</span></p>
      <p><a href="#">Product 3</a> <span class="price">$8</span></p>
      <p><a href="#">Product 4</a> <span class="price">$2</span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
    </div>
  </div>
</div>

</body>
</html>
