<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/paymentmethod.css}" />
<link rel="stylesheet" th:href="@{/css/global.css}" />
</head>
<body>
<div class="topnav">
      <a th:href="@{/}"><img class="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/1200px-Starbucks_Corporation_Logo_2011.svg.png" alt="logo"></a>
      <a th:href="@{/starbucksmenu}">MENU</a>
      <a th:href="@{/starbuckscards}">REWARDS</a>
      <a th:href="@{/paymentmethod}">PAYMENT METHOD</a>
      <a th:href="@{/billinginfo}">BILLING INFO</a>
      <div class="login-container" sec:authorize="isAuthenticated()">
          <a href="javascript: document.logoutForm.submit()">SIGN OUT</a>
          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
              <input hidden type="submit" value="Sign Out" />
          </form>
      </div>
  </div>
    
<h2>Starbucks Cards</h2>


    <div>
      <form name="form" th:object="${starbuckscards}" method="post">     
        <div class="row">
          <div class="col-50">

            <div th:if="${not#lists.isEmpty(test)}">
              <div class="messages">
                <ul th:each="m : ${test}">
                  <li th:text="${m.msg}">
                </ul>
              </div>
            </div>

            <label class="required" for="balanceText">Please Submit The Amount to Add</label>
            <input type="text" id="balanceText" required="required" name="balanceText" th:field="*{balanceText}" >          


            <div th:if="${not#lists.isEmpty(messages)}">
              <div class="messages">
                <ul th:each="m : ${messages}">
                  <li th:text="${m.msg}">
                </ul>
              </div>
            </div>

            <div class="message">
            <span th:text="${message}" />
            </div>

          </div> 
        </div>
        
        <input type="submit" value="Submit" class="btn">
      
      </form>
    </div>

</body>
</html>
