body {
    background-color: lightgrey;
}
h1{
    color: Black;
    text-align: center;
}
p{
    color:Black;
    font-family: verdana;
    font-size: 20px;
}
.Iced_Chai_Latte{
    width:55%;
    margin-right:20%;
    float: right;
}
.Caramel_Machiato{
    width:55%;
    margin-right:20%;
    float: right;
}