body {
    
}
h1{
    color: Black;
    text-align: left;
}
p{
    color:Black;
    font-family: verdana;
    font-size: 50px;
    text-align: center;
}
.Iced_Chai_Latte{
    width:55%;
    margin-right:20%;
    float: right;
}
.Caramel_Machiato{
    width:55%;
    margin-right:20%;
    float: right;
}
.sizeDropDown{
    font-size: 40px;
}