.container{
    padding: 7px;
    text-align: center;
}

img {
    border-radius: 8px;
    width:100%;
    padding-bottom: 10px;
}

.input{
    padding:7px;
    width:50%;
    height:35%;
}

.dropdown-menu a { 
    text-decoration: none;
    color: inherit;
} 

.dropdown-menu a:hover { 
    text-decoration: none;
} 

.dropdown-menu li{
    margin: 10px;
}

.dropdown{
    padding: 10px;
}